<script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
<!--{~ui('loader')->js('@validform')}-->
<!--{~ui('loader')->css('@valid.style')}-->
<!--{~ui('loader')->js('@lhgdialog')}-->
<!--{~ui('loader')->js('@jquery.form')}-->
<link rel="stylesheet" type="text/css" href="styles/edit.css"/>
<form id="regform" name="regform" url="?mod=myaccount&code=editUsername" >
	<div class="edit_password">
	<table class="edid_mail" width="500">
		<tr>
			<td align="right" width="100">用户名</td>
			<td>
				<label class="user_name"></label>
				<input type="hidden" id="username" name="username"/>
			</td>
		</tr>
		<tr>
			<td align="right">新账号</td>
			<td><input type="text" id="newUserName" name="newUserName" datatype="*" errormsg="账号错误！" ajaxurl="?mod=myaccount&code=isUserName" nullmsg="请输入账号"  sucmsg=" " class="text"/></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="确认" id="btnSubmit" class="btn_bg" /><a href="javascript:void(0);" class="quxiao">取消</a></td>
		</tr>
	</table>
</div>
</form>
<script type="text/javascript">
$(function () {
	//初始化验证表单
	$("#regform").Validform({
		tiptype:3,
		callback:function(form){
			//AJAX提交表单
            $(form).ajaxSubmit({
                beforeSubmit: showRequest,
                success: showResponse,
                error: showError,
                url: $("#regform").attr("url"),
                type: "post",
                dataType: "json",
                timeout: 60000
            });
            return false;
		}
	});

    //表单提交前
    function showRequest(formData, jqForm, options) {
		$("#btnSubmit").val("正在提交...");
        $("#btnSubmit").prop("disabled", true);
    }
    //表单提交后
    function showResponse(data, textStatus) {
        if (data.status >1) { //成功
         	setTimeout(function () {
				 api.reload();
            }, 0); 
        }
   	}
    //表单提交出错
    function showError(XMLHttpRequest, textStatus, errorThrown) {
        $.dialog.alert("账号修改失败，请重新修改！");
        $("#btnSubmit").val("重新提交");
        $("#btnSubmit").prop("disabled", false);
    }
});

var api = frameElement.api, W = api.opener;
$('.user_name').text($('#user_name', W.document).text());
$('#username').val($('#user_name', W.document).text());
$('.quxiao').click(function(){api.close();});
</script>