<!--{template @admin/header}-->
{~ui('loader')->addon('picker.date')}
{~ui('loader')->js('@jquery.hook')}
{~ui('loader')->js('@jquery.idTabs')}
{~ui('loader')->css('#admin/css/product.mgr.idTabs')}
{~ui('loader')->js('@jquery.form')}
{~ui('loader')->js('@jquery.thickbox')}
{~ui('loader')->css('@jquery.thickbox')}
{~ui('loader')->css('#admin/css/product.mgr')}
<form id="productIfoForm" action="?mod=adplay_qt&code=save" method="post" enctype="multipart/form-data" onSubmit="return checkIfClick();">
  <input id="productID" name="id" type="hidden" value="{$p['id']}" />
  <div class="idTabs">
    <div class="navsBar"> <font style="float: left;margin-right: 20px;margin-top: 7px;"> {if $id}编辑分类{else}添加分类{/if}</font>
      <ul class="navs">
        <li><a id="nav2Base" href="#p_base">基本信息</a></li>
      </ul>
      <font id="autoSaveStatus" style="float: right;margin-top: 7px;margin-right: 40px;_margin-right: 10px;"></font> </div>
    <div class="items">
      <div id="p_base">
        <table width="100%" class="tableborder">
          <tr>
            <td width="100" class="td_title">名称：</td>
            <td><input id="productName" name="name" type="text" size="80" value="{$p['name']}" /></td>
          </tr>
          <tr>
            <td width="100" class="td_title">显示优先级：</td>
            <td><input name="order" type="text" size="3" value="{echo (int)$p['order']}" />
              &nbsp;&nbsp;（数字越大，显示位置越靠前） </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="submitArea">
    <input id="submitButton" type="submit" class="button back2" value="保存" />
  </div>
</form>
{template @admin/footer}