<!--{template @admin/header}-->
<form method="post" action="{$action}">
	<table cellspacing="1" cellpadding="4" width="100%" align="center"
		class="tableborder">
		<tr class="header">
			<td colspan="12"><b style="float: left;">众筹产品管理</b> <a
				style="float: left; margin-left: 5px"
				href="?mod=everybody&code=AddProudct&id={$id}" class="back1 back2">添加众筹产品</a></td>
		</tr>
		{if !empty($list)}
		<tr>
			<td colspan="12">
				<div class="tr_select">
					请输入您要搜索的众筹关键词： <input name="keyword" value="{$keyword}" id="keyword" type="text" class="isearcher_input_words" />
					<input name="bottom" type="submit" id="bottom" value="搜索" class="btn btn-primary btn-small" />
				</div>
			</td>
		</tr>
		{/if}
		<tr class="tr_nav">
			<td width="10%">产品名称</td>
			<td width="8%">产品价格</td>
			<td width="4%">中奖名次</td>
			<td width="7%">中奖名额</td>
			<td width="15%" align="center">管理</td>
		</tr>
		<!--{if empty($list)}-->
		<tr>
			<td colspan="12">暂时还没有众筹产品，请<a
				href="?mod=everybody&code=AddProudct&id={$id}">点此添加众筹产品</a>。
			</td>
		</tr>
		<!--{/if}-->
		<!--{loop $list $i $value}-->
		<tr onmouseover="this.className='tr_hover'" onmouseout="this.className='tr_normal'">
			<td>{$value['flag']}</td>
			<td>{$value['nowprice']}</td>
			<td>第{$value['prize']}名</td>
			<td>{$value['number']}个名额</td>
			<td align="center">
				[<a href="?mod=everybody&code=EditProduct&id={$value['id']}">修改</a> -<a href="javascript:vold(0);" title="点此删除该众筹"
				onclick="if(confirm('您确认要删除该众筹产品吗？')){window.location.href='?mod=everybody&code=Deleteproduct&id={$value['id']}'}">删除</a>
				]
			</td>
		</tr>
		<!--{/loop}-->
		<tr>
			<td colspan="12">请注意：<br>1、商家各项金额数据中，均不包括实物订单中用户支付的商品运输费用。<br>2、添加商家时绑定的商家用户将成为商家产品{TUANGOU_STR}券的管理者，<font
				color=red>商家用户可前台登陆、查看旗下{TUANGOU_STR}券、核对和消费</font>！
			</td>
		</tr>
	</table>
	<a href="?mod=everybody&code=AddProudct&id={$id}" class="back1 back2">添加众筹产品</a> <br>
	<center>{$page_arr}</center>
</form>
{~ui('loader')->js('#admin/js/sdb.parser')} {template @admin/footer}
